In [1]:
!pip install tweepy

Collecting tweepy
  Downloading tweepy-3.10.0-py2.py3-none-any.whl (30 kB)
Requirement already satisfied: six>=1.10.0 in c:\programdata\anaconda3\lib\site-packages (from tweepy) (1.15.0)
Requirement already satisfied: requests[socks]>=2.11.1 in c:\programdata\anaconda3\lib\site-packages (from tweepy) (2.24.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\programdata\anaconda3\lib\site-packages (from tweepy) (1.3.0)
Requirement already satisfied: oauthlib>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)
Installing collected packages: tweepy
Successfully installed tweepy-3.10.0

In [29]:
import tweepy
from tweepy import OAuthHandler
import pandas as pd

"""I like to have my python script print a message at the beginning. This helps me confirm whether everything is set up correctly. And it's nice to get an uplifting message ;)."""

print("You got this!")

# normally this would be a secret but I was running it for one ad-hoc analysis in my local computer
access_token = '103303'
access_token_secret = 'hjE2'
consumer_key = 'IFzL'
consumer_secret = 'GRoLP'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

tweets = []

count = 1

"""Twitter will automatically sample the last 7 days of data. Depending on how many total tweets there are with the specific hashtag, keyword, handle, or key phrase that you are looking for, you can set the date back further by adding since= as one of the parameters. You can also manually add in the number of tweets you want to get back in the items() section."""
for account in ['entel_ayuda', "WOMteAyuda", "MovistarChile", "VTRsoporte", "clarochile_cl"]:
    for tweet in tweepy.Cursor(api.search, q="@{} since:2021-06-01".format(account), count=450, since='2021-06-01').items(1000000):

        #print(count)
        count += 1

        try: 
            data = [tweet.created_at, tweet.id, tweet.text, tweet.user._json['screen_name'], tweet.user._json['name'], tweet.user._json['created_at'], tweet.entities['urls']]
            data = tuple(data)
            tweets.append(data)

        except tweepy.TweepError as e:
            print(e.reason)
            continue

        except StopIteration:
            break

    df = pd.DataFrame(tweets, columns = ['created_at','tweet_id', 'tweet_text', 'screen_name', 'name', 'account_creation_date', 'urls'])

    """Add the path to the folder you want to save the CSV file in as well as what you want the CSV file to be named inside the single quotations"""
    if account == 'entel_ayuda':
        opco = "entel"
    elif account == "WOMteAyuda":
        opco = "wom"
    elif account == "MovistarChile":
        opco = "movistar"
    elif account == "VTRsoporte":
        opco = "vtr"
    elif account == "clarochile_cl":
        opco = "claro"
    df.to_csv(path_or_buf = '/Users/lakat/Downloads/Vtr_Tweets/all_tweets_{}_2.csv'.format(opco), index=False)

You got this!

In [76]:
def cleanup(tweet):
    if isinstance(tweet, str):
        tw = tweet.split(" ")
        tw_edit = []
        for word in tw:
            if not "@" in word and not "RT" in word:
                word = word.lower()
                tw_edit.append(word)
        tweet = " ".join(tw_edit)
        del tw
        del tw_edit
        return tweet
    else:
        return None

In [77]:
for opco in ['vtr', 'entel', 'wom', 'claro', 'movistar']:
    df_vtr = pd.read_csv('/Users/lakat/Downloads/Vtr_Tweets/all_tweets_{}.csv'.format(opco)) 
    df_vtr['tweet_text'] = df_vtr['tweet_text'].apply(cleanup)
    df_vtr.drop_duplicates(subset=['tweet_text'], inplace=True)
    df_vtr.to_csv(path_or_buf = '/Users/lakat/Downloads/Vtr_Tweets/all_tweets_{}.csv'.format(opco), index=False) 
for opco in ['vtr', 'entel', 'wom', 'claro', 'movistar']:
    df_vtr = pd.read_csv('/Users/lakat/Downloads/Vtr_Tweets/all_tweets_{}_2.csv'.format(opco)) 
    df_vtr['tweet_text'] = df_vtr['tweet_text'].apply(cleanup)
    df_vtr.drop_duplicates(subset=['tweet_text'], inplace=True)
    df_vtr.to_csv(path_or_buf = '/Users/lakat/Downloads/Vtr_Tweets/all_tweets_{}_2.csv'.format(opco), index=False)

In [78]:
import pandas as pd
from tqdm import tqdm

In [79]:
for opco in ['vtr', 'entel', 'wom', 'claro', 'movistar']:
    df_vtr_1 = pd.read_csv('/Users/lakat/Downloads/Vtr_Tweets/all_tweets_{}.csv'.format(opco)) 
    df_vtr_2 = pd.read_csv('/Users/lakat/Downloads/Vtr_Tweets/all_tweets_{}_2.csv'.format(opco)) 
    df_vtr = df_vtr_1.append(df_vtr_2, ignore_index=True)
    df_vtr.drop_duplicates(subset=['tweet_text'], inplace=True)
    df_vtr.to_csv(path_or_buf = '/Users/lakat/Downloads/Vtr_Tweets/all_tweets_{}_consolidated.csv'.format(opco), index=False)

In [103]:
df = ''
for opco in ['vtr', 'entel', 'wom', 'claro', 'movistar']:
    df_vtr_1 = pd.read_csv('/Users/lakat/Downloads/Vtr_Tweets/all_tweets_{}_consolidated.csv'.format(opco)) 
    print(opco[0].upper() + opco[1:], len(df_vtr_1))
    df_vtr_1['Empresa'] = opco[0].upper() + opco[1:]
    if isinstance(df, str):
        df = df_vtr_1
    else:
        df = df.append(df_vtr_1, ignore_index=True)

Vtr 7520
Entel 1868
Wom 1597
Claro 7141
Movistar 3636

In [104]:
df.head()

,created_at,tweet_id,tweet_text,screen_name,name,account_creation_date,urls,Empresa
0,2021-08-13 05:58:48,1426060648920801282,"hola, llevo mas de 20 o 30 minutos sin interne...",Brother06688085,Brother,Mon Oct 21 06:24:01 +0000 2019,[],Vtr
1,2021-08-13 05:48:54,1426058157940527104,"hola, llevo mas de 20 o 30 minutos sin interne...",Pato_kun_Online,Pato Kun,Tue Sep 13 00:58:14 +0000 2016,[],Vtr
2,2021-08-13 04:48:34,1426042976485130241,que lata miren la hora y sigue igual ...odio ...,MonitaVigouroux,La Vigouroux,Fri Jan 27 18:46:26 +0000 2017,[],Vtr
3,2021-08-13 04:44:08,1426041858870886400,srs de pensar que los creía una empresa seria ...,claudiawolter,claudia Wolter Ferro,Mon Jun 14 17:10:55 +0000 2010,"[{'url': 'https://t.co/CqGtvxEY04', 'expanded_...",Vtr
4,2021-08-13 04:24:09,1426036829933998088,enviado,cataabeck,Cata aracena,Tue Nov 08 02:41:43 +0000 2011,[],Vtr

In [105]:
df.tail()

,created_at,tweet_id,tweet_text,screen_name,name,account_creation_date,urls,Empresa
21757,2021-08-13 12:43:43,1426162549633044488,sin banda ancha ya 7 días,HaircreamsC,haircreams chile,Sun Jun 06 13:37:53 +0000 2021,[],Movistar
21758,2021-08-13 12:02:39,1426152214653976582,me cambió al servicio de internet con ustedes ...,AedoCristian,CA,Thu Oct 28 17:52:28 +0000 2010,"[{'url': 'https://t.co/D0j33KUs8Z', 'expanded_...",Movistar
21759,2021-08-13 09:17:38,1426110687789600768,llevamos al rededor de 5 días sin internet wi...,PIPOXYZ79,diegoXYZ,Wed Oct 08 01:11:34 +0000 2014,[],Movistar
21760,2021-08-11 18:40:37,1425527592598315011,"sres, tres días sin servicio, cuando darán s...",janosalazaravil,Hugo Salazar,Sat Jul 31 01:41:09 +0000 2021,"[{'url': 'https://t.co/7BAAyO65TS', 'expanded_...",Movistar
21761,2021-08-10 16:46:37,1425136514959384583,necesito internet para trabajar y estudiar y p...,MundodeLuu,Lulú 🏳️‍🌈,Tue Oct 05 12:03:53 +0000 2010,[],Movistar

In [91]:
!pip install fuzzywuzzy
!pip install python-Levenshtein

Requirement already satisfied: fuzzywuzzy in c:\programdata\anaconda3\lib\site-packages (0.18.0)

WARNING: You are using pip version 21.2.3; however, version 21.2.4 is available.
You should consider upgrading via the 'c:\programdata\anaconda3\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: python-Levenshtein in c:\programdata\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from python-Levenshtein) (50.3.1.post20201107)

WARNING: You are using pip version 21.2.3; however, version 21.2.4 is available.
You should consider upgrading via the 'c:\programdata\anaconda3\python.exe -m pip install --upgrade pip' command.

In [110]:
from fuzzywuzzy.fuzz import partial_ratio

In [107]:
df.dropna(subset=['tweet_text'], inplace=True)

In [142]:
def func_fuzzy(dfff, name):
    # matches = dfff.apply(lambda row: (partial_ratio(row['tweet_text'], name) <= 85), axis=1)
    matches = dfff.apply(lambda row: (name[:int(len(name)*0.7)] not in row['tweet_text'][:int(len(row['tweet_text'])*0.7)]) and (row['tweet_text'][:int(len(row['tweet_text'])*0.7)] not in name[:int(len(name)*0.7)]), axis=1)
    return matches # [i for i, x in enumerate(matches) if x]

In [143]:
for opco in ['vtr', 'entel', 'wom', 'claro', 'movistar']:
    df_vtr_1 = pd.read_csv('/Users/lakat/Downloads/Vtr_Tweets/all_tweets_{}.csv'.format(opco)) 
    df_vtr_2 = pd.read_csv('/Users/lakat/Downloads/Vtr_Tweets/all_tweets_{}_2.csv'.format(opco)) 
    df_vtr = df_vtr_1.append(df_vtr_2, ignore_index=True)
    df_vtr.drop_duplicates(subset=['tweet_text'], inplace=True)
    df_vtr.dropna(subset=['tweet_text'], inplace=True)
    dff = df_vtr.copy()
    for i, roww in tqdm(df_vtr.iterrows()):
        check = roww['tweet_text']
        #print(check)
        #print(partial_ratio(df['tweet_text'], check))
        #print(df[partial_ratio(df['tweet_text'], check) <= 85])
        if isinstance(check, str):
            dff = dff[func_fuzzy(dff, check)]
    #df_vtr = dff
    dff.to_csv(path_or_buf = '/Users/lakat/Downloads/Vtr_Tweets/all_tweets_{}_consolidated.csv'.format(opco), index=False)

7519it [00:16, 454.26it/s]
1867it [00:14, 129.39it/s]
1596it [00:04, 350.22it/s]
7140it [00:26, 273.92it/s]
3635it [00:28, 128.71it/s]

In [144]:
for opco in ['vtr', 'entel', 'wom', 'claro', 'movistar']:
    df_vtr_1 = pd.read_csv('/Users/lakat/Downloads/Vtr_Tweets/all_tweets_{}.csv'.format(opco)) 
    df_vtr_2 = pd.read_csv('/Users/lakat/Downloads/Vtr_Tweets/all_tweets_{}_2.csv'.format(opco)) 
    df_vtr = df_vtr_1.append(df_vtr_2, ignore_index=True)
    df_vtr.drop_duplicates(subset=['tweet_text'], inplace=True)
    df_vtr.to_csv(path_or_buf = '/Users/lakat/Downloads/Vtr_Tweets/all_tweets_{}_consolidated.csv'.format(opco), index=False)

In [174]:
df = ''
for opco in ['vtr', 'entel', 'wom', 'claro', 'movistar']:
    df_vtr_1 = pd.read_csv('/Users/lakat/Downloads/Vtr_Tweets/all_tweets_{}_consolidated.csv'.format(opco)) 
    print(opco[0].upper() + opco[1:], len(df_vtr_1))
    df_vtr_1['Empresa'] = opco[0].upper() + opco[1:]
    if isinstance(df, str):
        df = df_vtr_1
    else:
        df = df.append(df_vtr_1, ignore_index=True)

Vtr 7520
Entel 1868
Wom 1597
Claro 7141
Movistar 3636

In [180]:
def not_support(inp):
    if isinstance(inp, str):
        if 'queremos solucionar' not in inp:
            return False
        else:
            return True
    else:
        return True

In [181]:
indexes = df[df['tweet_text'].apply(not_support)].index
df.drop(indexes, inplace = True)

In [182]:
len(df)

21410

In [183]:
df.head()

,created_at,tweet_id,tweet_text,screen_name,name,account_creation_date,urls,Empresa
0,2021-08-13 05:58:48,1426060648920801282,"hola, llevo mas de 20 o 30 minutos sin interne...",Brother06688085,Brother,Mon Oct 21 06:24:01 +0000 2019,[],Vtr
1,2021-08-13 05:48:54,1426058157940527104,"hola, llevo mas de 20 o 30 minutos sin interne...",Pato_kun_Online,Pato Kun,Tue Sep 13 00:58:14 +0000 2016,[],Vtr
2,2021-08-13 04:48:34,1426042976485130241,que lata miren la hora y sigue igual ...odio ...,MonitaVigouroux,La Vigouroux,Fri Jan 27 18:46:26 +0000 2017,[],Vtr
3,2021-08-13 04:44:08,1426041858870886400,srs de pensar que los creía una empresa seria ...,claudiawolter,claudia Wolter Ferro,Mon Jun 14 17:10:55 +0000 2010,"[{'url': 'https://t.co/CqGtvxEY04', 'expanded_...",Vtr
4,2021-08-13 04:24:09,1426036829933998088,enviado,cataabeck,Cata aracena,Tue Nov 08 02:41:43 +0000 2011,[],Vtr

In [148]:
df.iloc[0,:]['tweet_text']

'hola, llevo mas de 20 o 30 minutos sin internet, cable, mucho menos telefono fijo... hay algún problema en…'

In [184]:
import spacy
from spacy.lang.es.examples import sentences 
from spacytextblob.spacytextblob import SpacyTextBlob

nlp = spacy.load("es_core_news_sm")
nlp.add_pipe('spacytextblob')

In [191]:
def sentiment_nlp(tr, ret=1):
    # tr =tr.iloc[0]
    if isinstance(tr, str):
        # print(tr)
        aspects = [] 
        targets = []
        descriptions = []
        doc = nlp(tr)
        descriptive_term = ''
        target = ''
        for token in doc:
            if token.dep_ == 'nsubj' and token.pos_ == 'NOUN':
                target = token.text
            if token.pos_ == 'ADJ':
                prepend = ''
                for child in token.children:
                    if child.pos_ != 'ADV':
                        continue
                    prepend += child.text + ' '
                descriptive_term = prepend + token.text
            if not len(target)==0 and not (target in targets and descriptive_term in descriptions):
                targets.append(target)
                descriptions.append(descriptive_term)
                aspects.append({'aspect': target, 'description': descriptive_term, 'polarity': doc._.polarity, 'subjectivity': doc._.subjectivity, 'assesments': doc._.assessments})
        t = aspects
        del targets
        del descriptions
        del doc
        if len(t)!=0:
            # print(t)
            placeholder = {}
            placeholder['polarity'] = t[0]['polarity']
            placeholder['subjectivity'] = t[0]['subjectivity']
            placeholder['assesments'] = t[0]['assesments']
            keywords = []
            for elem in t:
                keywords.append((elem['aspect'], elem['description']))
            placeholder['contents'] = keywords
            t = placeholder
            pol = t['polarity']
            pola = ''
            if pol < 0:
                pola = 'ENOJO'
            elif pol < 0.018 and pol >= 0:
                pola = "FRUSTRACIÓN"
            elif pol < 0.05 and pol >= 0.018:
                pola = "NEUTRAL"
            elif pol < 0.14 and pol >= 0.05:
                pola = "CONFORMIDAD"
            elif pol >= 0.14:
                pola = "SATISFACCIÓN"
            else:
                pola = "SIN DATOS POLARIDAD"
            t['polarity ranking'] = pola

            pol = t['subjectivity']
            pola = ''
            if pol < 0.188:
                pola = 'OBJETIVO'
            elif pol < 0.41 and pol >= 0.188:
                pola = "NEUTRAL"
            elif pol >= 0.41:
                pola = "SUBJETIVO"
            else:
                pola = "SIN DATOS SUBJETIVIDAD"
            t['subjectivity ranking'] = pola
            if ret==1:
                return t['polarity ranking']
            else:
                return t['subjectivity ranking']
        else:
            return 'INDEFINIDO'
    return 'INDEFINIDO'

In [192]:
df['Emoción'] = df['tweet_text'].apply(lambda tr: sentiment_nlp(tr))

In [193]:
df['Subjetividad'] = df['tweet_text'].apply(lambda tr: sentiment_nlp(tr, ret=2))

In [194]:
df.head()

,created_at,tweet_id,tweet_text,screen_name,name,account_creation_date,urls,Empresa,Emoción,Subjetividad
0,2021-08-13 05:58:48,1426060648920801282,"hola, llevo mas de 20 o 30 minutos sin interne...",Brother06688085,Brother,Mon Oct 21 06:24:01 +0000 2019,[],Vtr,INDEFINIDO,INDEFINIDO
1,2021-08-13 05:48:54,1426058157940527104,"hola, llevo mas de 20 o 30 minutos sin interne...",Pato_kun_Online,Pato Kun,Tue Sep 13 00:58:14 +0000 2016,[],Vtr,INDEFINIDO,INDEFINIDO
2,2021-08-13 04:48:34,1426042976485130241,que lata miren la hora y sigue igual ...odio ...,MonitaVigouroux,La Vigouroux,Fri Jan 27 18:46:26 +0000 2017,[],Vtr,FRUSTRACIÓN,OBJETIVO
3,2021-08-13 04:44:08,1426041858870886400,srs de pensar que los creía una empresa seria ...,claudiawolter,claudia Wolter Ferro,Mon Jun 14 17:10:55 +0000 2010,"[{'url': 'https://t.co/CqGtvxEY04', 'expanded_...",Vtr,FRUSTRACIÓN,OBJETIVO
4,2021-08-13 04:24:09,1426036829933998088,enviado,cataabeck,Cata aracena,Tue Nov 08 02:41:43 +0000 2011,[],Vtr,INDEFINIDO,INDEFINIDO

In [ ]:
print(df[['tweet_text']].apply(lambda tr: sentiment_nlp(tr, ret=1), axis=1))

In [197]:
df = df[(df['Emoción']!= 'INDEFINIDO') & (df['Subjetividad']!= 'INDEFINIDO')]
df['TWEET'] = 1

In [198]:
df.head()

,created_at,tweet_id,tweet_text,screen_name,name,account_creation_date,urls,Empresa,Emoción,Subjetividad,TWEET
2,2021-08-13 04:48:34,1426042976485130241,que lata miren la hora y sigue igual ...odio ...,MonitaVigouroux,La Vigouroux,Fri Jan 27 18:46:26 +0000 2017,[],Vtr,FRUSTRACIÓN,OBJETIVO,1
3,2021-08-13 04:44:08,1426041858870886400,srs de pensar que los creía una empresa seria ...,claudiawolter,claudia Wolter Ferro,Mon Jun 14 17:10:55 +0000 2010,"[{'url': 'https://t.co/CqGtvxEY04', 'expanded_...",Vtr,FRUSTRACIÓN,OBJETIVO,1
9,2021-08-13 03:37:14,1426025024436113410,"llevo 5 meses esperando que cambien la dbox, ...",pinchadatos,Oscar Caro,Sun Dec 25 06:44:23 +0000 2011,[],Vtr,FRUSTRACIÓN,OBJETIVO,1
10,2021-08-13 03:35:34,1426024604783554561,"pésimo el internet!! intermitente, pésimo . ur...",moises_silvac,Moisés Silva,Wed Dec 08 02:00:37 +0000 2010,[],Vtr,FRUSTRACIÓN,OBJETIVO,1
12,2021-08-13 03:31:19,1426023532522315777,como se debe comenzar el proceso de demanda co...,PabloSa63855785,Pablo Santos,Mon Feb 03 00:35:11 +0000 2020,"[{'url': 'https://t.co/gpAvPCJF6q', 'expanded_...",Vtr,FRUSTRACIÓN,OBJETIVO,1

In [200]:
import numpy as np

In [201]:
table = pd.pivot_table(df, values='TWEET', index=['Subjetividad'],
                    columns=['Emoción'], aggfunc=np.sum)

In [202]:
table

Emoción       CONFORMIDAD  ENOJO  FRUSTRACIÓN  NEUTRAL  SATISFACCIÓN
Subjetividad
NEUTRAL               NaN    4.0         26.0      2.0          13.0
OBJETIVO              5.0   20.0       5477.0      NaN           NaN
SUBJETIVO            12.0   79.0         26.0      NaN          59.0